nav {
  width: 100%;
  background: #34bdff;
  -webkit-box-shadow: 0 0 3px #333;
  box-shadow: 0 0 3px #333;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.nav-elemts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: auto;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  height: 12vh;
}

.nav-elemts a {
  color: #333;
  text-decoration: none;
}

.nav-elemts a:visited {
  color: #333;
}

.nav-elemts h1 {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
}

.nav-links,
h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #333;
}

.nav-links li {
  padding: 1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-elemts h1:hover {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
  font-weight: 100;
}

.nav-links li:hover {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
  font-weight: bold;
}
